
    <div class="card">
        <div class="card-contents">
            
            <!-- <p class="m-0 card-name" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getcardDetails(card)">{{card.name}}</p> -->
            <p class = "card-name" mat-raised-button (click)="openDialog(card)">{{card.name}}</p>
            
            <div class="menu">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>edit</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="deleteCard(card)">
                        <mat-icon>delete_outline</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
                
                
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">{{modalName}}</h1> -->
                
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" >
                                <div class="card-container" >
                                    <div class="part-one">
                                        <div class="card-checklists">
                                            <h1>CheckList</h1>
                                        </div>
                                        <div class="items" *ngFor="let checklist of checklistItems">
                                            {{cardDetails.checkItems}}
                                        </div>
                                    </div>
                                    <div class="part-two">
                                        <p>Add to card</p>
                                        <button class="btn btn-secondary">Checklist</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
