.card {
    padding: 0px 10px 0px 10px;
    border: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
}
.card-name {
    width: 90%;
}

.card-name:hover {
    cursor: pointer;
}

.part-one {
    width: 80%;
}
.part-two {
    width: 20%;
}