.list {
    background-color: hsla(0, 100%, 100%, 0.16);
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    color: white;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 10px;
    color: black;
}

.btn-hover:hover {
    cursor: pointer;
    opacity: 0.8;
}

