<div class="toast fade position-absolute top-0 end-0" [class.show]="showToast" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        List deleted!
    </div>
</div>
<div class="list">
    <div class="list-header">
        <p>{{list.name}}</p>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="archiveList(list)">
                <mat-icon>delete_outline</mat-icon>
                <span>Archive</span>
            </button>
        </mat-menu>
    </div>
    <div class="list-content">
        <div class="cards">
            <app-card *ngFor="let card of cards" [card]="card" (onDeleteCard)="deleteCard(card)"></app-card>
        </div>
        
        <!-- <button class="btn btn-hover btn-secondary" type="button">Add a card</button> -->
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Add card
                    </mat-panel-title>
                    
                </mat-expansion-panel-header>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>List name</mat-label>
                        <input matInput #cardName>
                    </mat-form-field>
                </p>
                <button type="button" class="btn btn-success" (click)="getCardName(cardName.value,list)">Add Card</button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>