.board {
    width: 350px;
    height: 96px;
    padding: 8px;
    background: black;
    display: flex;
    justify-content: flex-start;
    background-repeat: no-repeat;
    color: white;
    border-radius: 4px;
    filter: brightness(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.board> p {
    font-size: 1.2em;
}

.board:hover{
    cursor: pointer;
    opacity: 0.9;
    filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


