<div class="toast fade position-absolute top-0 end-0" [class.show]="showToast" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        List created!
    </div>
</div>
<div class="lists-container">
    <app-list-item *ngFor="let list of lists" [list]="list" (notifyParent)="archiveList($event)"></app-list-item>
    <div class="another-list">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Add another list
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p >
                    <mat-form-field appearance="fill">
                        <mat-label>List name</mat-label>
                        <input matInput #listName value = {{input}}>
                    </mat-form-field>
                </p>
                <button type="button" class="btn btn-success" (click)="getListName(listName.value)">Create</button>
            </mat-expansion-panel>
            
        </mat-accordion>
    </div>
</div>