.board-container {
    width: 70%;
    margin: 0 auto;
    gap: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.board {
    width: 350px;
    height: 96px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board:hover {
    cursor: pointer;
    opacity: 0.9;
}
.create-board {
    position: relative;
    /* min-width: 500px; */
    background-color: #eee;
}

.popup {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px;
    position: absolute;
    bottom: -50px;
    left: 360px;
}

.popup.show {
    display: block;
}

.spinner {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}