<div class="spinner" *ngIf="boards.length === 0">
    <mat-spinner></mat-spinner>
</div>
<div class="toast fade position-absolute top-0 end-0" [class.show]="showToast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#007aff"></rect>
        </svg>

        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Hello, world! This is a toast message.
    </div>
</div>

<div class="board-container d-flex p-5 align-items-center flex-wrap" *ngIf="boards.length !== 0">
    <app-board *ngFor="let board of boards" [board] = "board"></app-board>
    <div class="create-board">
        <div class="board p-3 ml-0" (click)="togglePopup()">
            <p class="m-0">Create new board</p>
            <img src="" alt="" srcset="" height="39">
        </div>
            

        <div class={{popupClass}}>
            <fa-icon  [icon]="faTimes" ></fa-icon>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input type="text" matInput 
                        placeholder="Name.."  #boardName>
                </mat-form-field>
                <button type="button" class="btn btn-success" (click)="getBoardName(boardName.value)">Create</button>
            </form>
        </div>
    </div>
    
</div>

