<div class="modal-card">
    <h2 mat-dialog-title>{{data.card.name}}</h2>
    
    <mat-dialog-content class="parts">
        <div class="part-one">
            <h1>CheckList Items</h1>
            <div class="checkLists" *ngFor="let content of data.contents">
                <div class="check-item-header">
                    <h2>{{content.name}}</h2>
                    <button class="btn btn-light" (click)="deleteCheckList(content)">Delete</button>
                </div>
                <div class="form-check checkboxes" *ngFor="let checkItem of content.checkItems">
                    <div class="checkbox">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            {{checkItem.name}}
                        </label>
                    </div>
                    <button class="btn " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <ul class="dropdown-menu p-2 mt-3">
                        <li  class="check-item-delete " (click)="deleteCheckItem(content.id,checkItem.id)">
                            Delete
                        </li>
                        
                    
                    </ul>
                    
                </div>
                <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Add item
                </button>
                <ul class="dropdown-menu p-2 mt-3">
                    <li>
                        <div class="mb-3 ">
                            <label for="exampleFormControlInput1" class="form-label">Item name</label>
                            <input type="email" class="form-control rounded-0" id="exampleFormControlInput1" placeholder="name..."
                                #itemName>  
                        </div>
                    </li>
                    <button class="btn btn-success" (click)="createCheckItem(content.id,itemName.value)"> Add item</button>
                
                </ul>
            </div>
        </div>
        <div class="part-two">
            <h4>Add to card</h4>
            <div class="dropdown-center">
                <button class="btn btn-success" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    CheckList
                </button>
                <ul class="dropdown-menu p-2 mt-3">
                    <li>
                        <div class="mb-3 ">
                            <label for="exampleFormControlInput1" class="form-label">CheckList name</label>
                            <input type="email" class="form-control rounded-0" id="exampleFormControlInput1" placeholder="name..." #checklistName>
                        </div>
                    </li>
                    <button class="btn btn-success" (click)="createCheckList(data.card,checklistName.value)"> Add list</button>
                    
                </ul>
            </div>
        </div>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="btn btn-light" mat-button mat-dialog-close >Close</button>
    </mat-dialog-actions>
</div>