.parts {
    display: flex;
    justify-content: space-around;
    height:80%;
}
.part-one {
    width: 60%;
}
.part-two {
    width: 25%;
}
.modal-card {
    width: 550px;
    height: 800px;
    max-height: 1000px;
    overflow-y: auto;
}

.check-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkboxes {
    padding: 5px 0px 10px 0px;
    display: flex;
    justify-content: space-around;
}
.check-item-delete {
    text-align: center;
    padding: 10px;
}
.check-item-delete:hover {
    cursor: pointer;
    background-color: rgb(227, 226, 226);
}